@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --primary-text-color: #183b56;
  --secondery-text-color: #577592;
  --accent-color: #22943d;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;


}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/*  ========== Header styling ============== */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;

}

.nav-lists a {
  font-size: 1.2rem;
  color: rgb(50, 49, 49);
}

.nav-lists li {
  list-style: none;
}

.nav-link {
  display: flex;
  gap: 30px;
}

.signup-signin {
  display: flex;
  gap: 30px;
}

.sign-in,
.sign-up {
  padding: 10px 20px;
  border-radius: 5px;
}

.sign-in {
  border: 1px solid black;
}

.sign-in a {
  color: rgb(72, 70, 70);
  font-weight: bold;
}

.sign-in:hover {
  border: 1px solid rgb(0, 128, 255);

}

.sign-in a:hover {
  color: rgb(0, 128, 255);
}


.sign-up {
  background-color: rgb(0, 128, 255);
}

.sign-up a {
  color: white;
  font-weight: bold;

}


#logo {
  width: 200px;
  margin-left: 20px;
}

/* ============= Header Styling end  ================== */




/* ========== Section One ================ */

.section-1{
  display: grid;
  margin-top: 100px;
  padding-left: 70px;
  grid-template-columns: 1fr 1fr;
  
}

.section-1 .left a{
  padding:12px 15px;
  margin-top: 20px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
  background-color: rgb(0, 128, 255);
}

.section-1 .right img{
  width:550px;
  margin-top:-60px;
}


/* =========== Section 1 styling end =================== */


/*  ================Section 2 ================= */
.section-2 h3{
  text-align: center;
  font-size:1.2rem;
  margin-top: 15px;
}

.section-2 .images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top: 20px;
}

.section-2 .images img{
   width:130px;
}

/* ================= Section 3 =============== */

.grid-box{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 400px));
  grid-template-rows: repeat(3, minmax(min-content, 300px));
  justify-content: center;
  gap:25px;
  padding: 30px;
  
  
  
  
}

.grid-item{
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 5px 0px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
  background-color: rgb(252, 251, 251);
  border-radius: 5px;
}



.center-text{
  text-align: center;
  margin-top: 50px;
}


/*  ================== section 5 ===================== */

.section-5{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap:50px;
  margin-top: -250px;
 
}

.section-5 img{
  width:500px;
}


/* ============ section 6 ================== */

.section-6{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 30px;
}
.section-6 img{
  width:500px;
}